<h1>Activity</h1>
<ul>
  <% @activities.each do |activity| %>
    <li>
      <%= activity.user.full_name %>
      created new <%= activity.activitable_type.downcase %>
      <%=render partial: "#{activity.activitable_type.downcase.pluralize}/activity", locals: { activity: activity } %>
      <hr>
    </li>  
  <%end%>
</ul